.btn.btn-outline-dark.active {
    margin: 0 100px;
    width: 15%;
}

.jumbotron {
    padding: 1rem 0.5rem;
    scroll-behavior: smooth;
    overflow-y: scroll;
    max-height: 512px;
}

ref {
    background-color: rgba(255, 193, 7, 0.25);
}

.context {
    background-color: rgba(0, 123, 255, 0.25);
}

.table-responsive {
    overflow-y: scroll;
    max-height: 450px;
}

body .layui-layer .layui-layer-btn .layui-layer-btn0 {
    background-color: black;
    border-color: black;
}