<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head th:include="common::header"></head>

<body>
<div th:include="common::top"/>
<div class="highlight-clean">
    <div class="container">
        <div class="intro" style="max-width: 900px;">
            <h2 class="text-center" style="font-size: 60px;">SmartCiteCon</h2>
            <p class="text-center">A semantic citation context extraction tool for academic literature. Provide citation
                context extraction of academic documents in PDF format and XML format in accordance with Plosone data
                set standards<br></p>
        </div>
        <div class="buttons">
            <div class="input-group mb-3">
                <div class="custom-file border"><input class="border-dark custom-file-input" type="file"><label
                        class="custom-file-label">Please select a file for citation context extraction<br></label></div>
            </div>
            <div class="custom-control custom-radio custom-control-inline"><input type="radio" id="customRadioInline2"
                                                                                  class="custom-control-input"
                                                                                  name="customRadioInline"><label
                    class="custom-control-label" for="customRadioInline2">Use Pretrain Model</label></div>
            <div class="custom-control custom-radio custom-control-inline"><input type="radio" id="customRadioInline1"
                                                                                  class="custom-control-input"
                                                                                  name="customRadioInline"><label
                    class="custom-control-label" for="customRadioInline1">Use SVM model</label></div>
            <div style="margin-top: 50px;">
                <button class="btn btn-outline-dark active" type="button">Upload</button>
                <button class="btn btn-outline-dark active" type="button">upload zip</button>
            </div>
        </div>
    </div>
</div>
<div th:include="common::footer"/>
<div th:include="include::script"/>
</body>

</html>